---
http_interactions:
- request:
    method: post
    uri: http://services.chromedata.com/Description/7c
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap:Envelope xmlns:ns0="urn:description7c.services.chrome.com" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Header/>
          <soap:Body>
            <ns0:DivisionsRequest modelYear="2013">
              <ns0:accountInfo number="<ACCOUNT_NUMBER>" secret="<ACCOUNT_SECRET>" country="US" language="en"/>
            </ns0:DivisionsRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Chrome:
      - '85.117'
    body:
      encoding: ASCII-8BIT
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><Divisions
        xmlns="urn:description7c.services.chrome.com"><responseStatus responseCode="Successful"
        description="Successful"/><division id="1">Acura</division><division id="44">Aston
        Martin</division><division id="4">Audi</division><division id="45">Bentley</division><division
        id="5">BMW</division><division id="6">Buick</division><division id="7">Cadillac</division><division
        id="8">Chevrolet</division><division id="9">Chrysler</division><division id="11">Dodge</division><division
        id="46">Ferrari</division><division id="59">FIAT</division><division id="13">Ford</division><division
        id="15">G[...]
