---
http_interactions:
- request:
    method: post
    uri: http://services.chromedata.com/Description/7c
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap:Envelope xmlns:ns0="urn:description7c.services.chrome.com" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Header/>
          <soap:Body>
            <ns0:ModelsRequest>
              <ns0:accountInfo number="<ACCOUNT_NUMBER>" secret="<ACCOUNT_SECRET>" country="US" language="en"/>
              <ns0:modelYear>2013</ns0:modelYear>
              <ns0:divisionId>13</ns0:divisionId>
            </ns0:ModelsRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Chrome:
      - '85.119'
    body:
      encoding: ASCII-8BIT
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><Models
        xmlns="urn:description7c.services.chrome.com"><responseStatus responseCode="Successful"
        description="Successful"/><model id="25459">C-Max Energi</model><model id="25455">C-Max
        Hybrid</model><model id="25134">Econoline Cargo Van</model><model id="25567">Econoline
        Commercial Chassis</model><model id="25568">Econoline Commercial Cutaway</model><model
        id="25565">Econoline Wagon</model><model id="24937">Edge</model><model id="25055">Escape</model><model
        id="25572">Expedition</model><model id="25573">Expedition EL</model><model
        id="24934">Explorer</model><model id="25621">F-150</m[...]
