---
http_interactions:
- request:
    method: post
    uri: http://services.chromedata.com/Description/7a
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap:Envelope xmlns:ns0="urn:description7a.services.chrome.com" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Header/>
          <soap:Body>
            <ns0:VehicleDescriptionRequest>
              <ns0:accountInfo number="123456" secret="1111111111111111" country="US" language="en"/>
              <ns0:styleId>387520</ns0:styleId>
            </ns0:VehicleDescriptionRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Chrome:
      - '8.212'
    body:
      encoding: ASCII-8BIT
      string: '<?xml version=''1.0'' encoding=''UTF-8''?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><VehicleDescription
        xmlns="urn:description7a.services.chrome.com" country="US" language="en" modelYear="2017"
        bestMakeName="Acura" bestModelName="MDX" bestStyleName="FWD w/Advance Pkg"
        bestTrimName="w/Advance Pkg"><responseStatus responseCode="Successful" description="Successful"/><style
        id="387520" modelYear="2017" name="FWD w/Advance Pkg" nameWoTrim="FWD" trim="w/Advance
        Pkg" mfrModelCode="YD3H8HKNW" fleetOnly="false" modelFleet="false" passDoors="4"
        altBodyType="Sport Utility" drivetrain="Front Wheel Drive"><division id="1">Acura</division><subdivision
        id="8728">Acura</subdivision><model id="29763">MDX</model><basePrice unknown="false"
        invoice="51143.05" msrp="54500.0" destination="995.0"/><bodyType primary="true"
        id="13">Sport Utility</bodyType><marketClass id="16">2WD Sport Utility Vehicles</marketClass><stockImage
        filename="27612.jpg" url="http://media.chromedata.com/autoBuilderData/stockPhotos/27612.jpg"
        width="400" height="200"/></style><engine highOutput="false"><engineType id="1051">V6
        Cylinder Engine</engineType><fuelType id="1059">Gasoline Fuel</fuelType><horsepower
        value="290.0" rpm="6200"/><netTorque value="267.0" rpm="4700"/><cylinders>6</cylinders><displacement
        liters="3.5"/><fuelEconomy unit="MPG"><city low="20.0" high="20.0"/><hwy low="27.0"
        high="27.0"/></fuelEconomy><fuelCapacity unit="gal" low="19.5" high="19.5"/><installed
        cause="BaseEquipment"/></engine><standard><header id="1236">MECHANICAL</header><description>Engine:
        3.5L 24V SOHC i-VTEC V6 -inc: Idle Stop</description><category id="1051"/><category
        id="1059"/><styleId>387520</styleId><installed cause="Engine"/></standard><standard><header
        id="1236">MECHANICAL</header><description>Transmission: 9-Speed Automatic
        -inc: Sequential SportShift w/paddle shifters, 3-mode integrated dynamics
        system, Electronic Gear Selector and hill start assist</description><category
        id="1130"/><category id="1195"/><category id="1327"/><styleId>387520</styleId><installed
        cause="BaseEquipment"/></standard><standard><header id="1236">MECHANICAL</header><description>4.33
        Axle Ratio</description><styleId>387520</styleId><installed cause="BaseEquipment"/></standard><standard><header
        id="1236">MEC[...]
