---
http_interactions:
- request:
    method: post
    uri: http://services.chromedata.com/Description/7c
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap:Envelope xmlns:ns0="urn:description7c.services.chrome.com" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Header/>
          <soap:Body>
            <ns0:StylesRequest modelId="24997">
              <ns0:accountInfo number="<ACCOUNT_NUMBER>" secret="<ACCOUNT_SECRET>" country="US" language="en"/>
            </ns0:StylesRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Chrome:
      - '85.119'
    body:
      encoding: ASCII-8BIT
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><Styles
        xmlns="urn:description7c.services.chrome.com"><responseStatus responseCode="Successful"
        description="Successful"/><style id="349411">2dr Conv GT</style><style id="349412">2dr
        Conv GT Premium</style><style id="349413">2dr Conv Shelby GT500</style><style
        id="349409">2dr Conv V6</style><style id="349410">2dr Conv V6 Premium</style><style
        id="349407">2dr Cpe Boss 302</style><style id="349405">2dr Cpe GT</style><style
        id="349406">2dr Cpe GT Premium</style><style id="349408">2dr Cpe Shelby GT500</style><style
        id="349403">2dr Cpe V6</style><style id="349404">2dr Cpe V6 Premium</style></Styles></S:Body></S:Envelope>
  recorded_at: Wed, 28 Dec 2022 00:33:43 GMT
recorded_with: VCR 6.1.0
